body {
    background-color: var(--slate-300);
    font-family: 'Figtree', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 1rem 1rem 1.5rem;
    border-radius: 0.9375rem;
    max-width: 20rem;
    width: 100%;
    gap: 1.25rem;
}

.card img {
    width: 100%;
    border-radius: 0.9375rem;
}

.title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 800;
    color: var(--slate-900);
}

.subtitle {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1.25rem;
    color: var(--slate-500);
}

.attribution {
    margin-top: 1.25rem;
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
